li a{
    text-decoration: none;
}
nav ul li{
    display: inline;
    border: 1px solid purple;
    padding: 5px;
    margin-right:5px ;
}
#presentation{
    text-align: justify;
    width: 70%;
    margin-right: 5%;
    font-size: 22px;
}
#bloc1{header{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15%;
    box-shadow: rgba(0,0,0,0.1) 0 0 25px;
    background-color: rgba(212, 175, 55, 0.25);

}

#logo{
    width:350px ;
    margin-left: 0%;
}

body{
    background-image: url("decoration-colorful-flowers-with-copy-space.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

ul{
    list-style: none;
    display: flex;
}
ul li{
    margin: 25px;
}
a{
    text-decoration: none;
    color:#695309;
    font-weight: bold;
    padding: 10px;
    transition: 0.5s;
    border-radius: 6%;
}
a:hover{
    background-color: #695309;
    color: aliceblue;
}

@media screen and (max-width:1500px){
    body{
        position: relative;
    }
    header{
        padding: 10px 20px;
    }
    ul{
        flex-direction: column;
        position: absolute;
        background-color:rgba(57, 22, 41, 0.5);
        top: 0;
        left: -1500;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(10px);
        transition: 0.5s;
    }
    ul li{
        margin: 20px 0;
    }

    ul li a{
        text-transform: uppercase;
    }
    .button{
        width: 50px;
        height: 50px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 100;

    }
    .button span {
    width: 55px;
    height: 5px;
    background-color: #695309;
    transition: 0.3s;
    }
    .button::after{
        content: "";
        position: absolute;
        width: 55px;
        height: 5px;
        background-color:  #695309;
        box-shadow: 0 10px 0  #695309;
        transform: translateY(-10px);
        transition: 0.3s;
    }
    .button.active::after{
        box-shadow: 0 0 0  #695309;
        transform: rotate(45deg);
    }
        .button::before{
        content: "";
        position: absolute;
        width: 55px;
        height: 5px;
        background-color: #695309;
        transform: translateY(10px);
        transition: 0.3s;
    }
    .button.active::before{
        transform: rotate(-45deg);
    }
    .button.active span {
    opacity: 0;
    }
    ul.active{
        left: 0;
    }

}
    h1{
    text-align: center;
    color: purple;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px 30px;
    border: 3px solid violet ;
    display: inline-block;
    border-radius: 15px;
    margin-left: 0px;
}
#profile{
    height: 450px;
    width: 350px;
    margin-left: 250px;
}
div{
    display: flex;
}
p{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 20px;
    text-align: start;
    color: rgb(77, 31, 77);
    max-width: 700px;
    
} 
    display: flex;
    /*border: 1px solid purple;*/
}
#profile{
    width: 250px; /* width gére la largeur*/
    height: 250px;  /* height gére la largeur*/
    margin-top: 2%;
    margin-bottom: 2%;
}
.titredepage{
    border: 1px solid purple;
    margin-bottom: 0%;
}
body{
    background-color: #3498db;
}